/*
body
{
    min-height: 100vh;
    font-family: 'GameOverRegular'; 
	background-repeat: repeat;	
	background: rgb(12,25,93);
	background: radial-gradient(circle, rgba(12,25,93,0.5) 0%, rgba(89,27,39,0.5) 100%);
	
}
*/
section.wrapper
{
    text-align: center;
}


canvas
{
	display: inline; 
	outline: 6px solid black;
	/*outline: 20px dashed rgb(109, 109, 109);*/
	margin: auto; 
	background-color: rgb(33, 25, 52); /* Make a Greenscreen for the Background of the Game */
	/* background-color: rgba(33, 27, 47, 0.0); /* Make a Greenscreen for the Background of the Game */
}
